<br>
<div id="page-p">
	<h2 style="text-align: center">Mailso (Cardekho.com)</h2><br>
	<div class="imgpro">
		<img src="/assets/mailso.jpg">
		<img src="/assets/mailso1.jpg">
	</div>
	<p>Prepared a Website for sending multiple bulk emails in reduced time for Cardekho.com</p>
</div>